In [408]:
import pandas as pd
import numpy as np
from pathlib import Path

In [409]:
techind_data_path = Path('data/techind.csv')
sentiment_data_path = Path('data/mean_news_sentiment.csv')

df_techind = pd.read_csv(techind_data_path)
df_sentiment = pd.read_csv(sentiment_data_path)

In [410]:
ti_tickers = df_techind.Ticker.unique()
s_tickers = df_sentiment.ticker.unique()

In [411]:
s_ti_tickers = [x for x in s_tickers if x in ti_tickers]
missing_tickers = [x for x in ti_tickers if x not in s_tickers]

In [412]:
df_techind = df_techind.loc[df_techind['Ticker'].isin(s_ti_tickers)]

In [413]:
df_techind.loc[df_techind['Ticker'] == 'A'].head()

,Ticker,Earning Date,RSI,MFI,adjclose_SMA_12,adjclose_SMA_30,adjclose_EWMA_12,adjclose_EWMA_30,adjclose_UpperBand,adjclose_LowerBand,SMA_12_SMA_30,EWMA_12_EWMA_30,UpperBand_LowerBand
0,A,2016-08-17,64.694038,55.146053,1.015659,1.029119,0.965805,0.981712,0.990293,1.071114,1.013253,1.016469,1.081614
1,A,2016-11-15,50.848450,49.160386,1.009450,1.002813,0.957853,0.957749,0.946279,1.066530,0.993425,0.999892,1.127077
2,A,2017-02-14,65.809029,63.517597,1.016679,1.037272,0.972830,0.993873,0.991504,1.087470,1.020256,1.021630,1.096788
3,A,2017-05-22,57.895288,66.358370,0.995724,1.018778,0.961621,0.976073,0.965030,1.078866,1.023153,1.015029,1.117962
4,A,2017-08-15,45.332843,46.147494,0.992396,0.985299,0.957375,0.954990,0.959937,1.012037,0.992848,0.997510,1.054274

In [414]:
df_sentiment.loc[(df_sentiment['ticker'] == 'A') & (df_sentiment.release_date <= '2016-08-17')]

,release_date,ticker,cs_0,cs_1,cs_2,cs_3,cs_4,cs_last5
2273,2016-05-09,A,0.00000,0.00000,0.00000,0.33670,0.27320,0.203300
2391,2016-05-11,A,0.27320,0.00000,0.00000,0.00000,0.33670,0.112233
2450,2016-05-12,A,0.27320,0.27320,0.00000,0.00000,0.00000,0.000000
2544,2016-05-15,A,0.08995,0.27320,0.27320,0.00000,0.00000,0.091067
2642,2016-05-17,A,0.25530,0.08995,0.27320,0.27320,0.00000,0.182133
2706,2016-05-18,A,0.70030,0.25530,0.08995,0.27320,0.27320,0.212117
4733,2016-06-27,A,0.17790,0.70030,0.25530,0.08995,0.27320,0.206150
4976,2016-06-30,A,0.44040,0.17790,0.70030,0.25530,0.08995,0.348517
5149,2016-07-04,A,0.47670,0.44040,0.17790,0.70030,0.25530,0.377833
6652,2016-07-28,A,0.47670,0.47670,0.44040,0.17790,0.70030,0.439533
6891,2016-08-01,A,0.38180,0.47670,0.47670,0.44040,0.17790,0.365000
7483,2016-08-11,A,0.00000,0.38180,0.47670,0.47670,0.44040,0.464600
7613,2016-08-14,A,0.00000,0.00000,0.38180,0.47670,0.47670,0.445067

In [308]:
# df_sentiment['td'] = df_sentiment.release_date.str.cat(df_sentiment.ticker)
# df_techind['td'] = df_techind['Earning Date'].str.cat(df_techind.Ticker)

In [199]:
# s_cols = list(df_sentiment.columns.values)
# ti_cols = list(df_techind.columns.values)

# s_cols.insert(0, s_cols.pop(s_cols.index('td')))
# ti_cols.insert(0, ti_cols.pop(ti_cols.index('td')))

In [200]:
# df_sentiment = df_sentiment.loc[:, s_cols]
# df_techind = df_techind.loc[:, ti_cols]

In [415]:
df_sentiment.release_date = pd.to_datetime(df_sentiment.release_date, format='%Y-%m-%d')
df_techind['Earning Date'] = pd.to_datetime(df_techind['Earning Date'], format='%Y-%m-%d')

In [416]:
df_techind.dtypes

Ticker                         object
Earning Date           datetime64[ns]
RSI                           float64
MFI                           float64
adjclose_SMA_12               float64
adjclose_SMA_30               float64
adjclose_EWMA_12              float64
adjclose_EWMA_30              float64
adjclose_UpperBand            float64
adjclose_LowerBand            float64
SMA_12_SMA_30                 float64
EWMA_12_EWMA_30               float64
UpperBand_LowerBand           float64
dtype: object

In [417]:
df_sentiment.dtypes

release_date    datetime64[ns]
ticker                  object
cs_0                   float64
cs_1                   float64
cs_2                   float64
cs_3                   float64
cs_4                   float64
cs_last5               float64
dtype: object

In [296]:
# df_sentiment['date'] = df_sentiment['release_date']
# df_techind['date'] = df_techind['Earning Date']

In [418]:
df_techsent = pd.merge(df_sentiment,
              df_techind[['Ticker', 'Earning Date']],
              how='outer',
              left_on=['ticker', 'release_date'],
              right_on=['Ticker', 'Earning Date'])

In [419]:
df_techsent.release_date.fillna(df_techsent['Earning Date'], inplace=True)
df_techsent.ticker.fillna(df_techsent.Ticker, inplace=True)
df_techsent.drop(columns=['Ticker', 'Earning Date'], axis=0, inplace=True)
df_techsent.sort_values(by=['ticker', 'release_date'], ascending=True, inplace=True)
df_techsent.drop(columns=['cs_0','cs_1','cs_2','cs_3','cs_4'], axis=0, inplace=True)
df_techsent.fillna(df_techsent.shift(1), inplace=True)
df_techsent.dropna(inplace=True)

In [420]:
df_techsent.loc[(df.ticker == 'A')]

      release_date ticker  cs_last5
2273    2016-05-09      A  0.203300
2391    2016-05-11      A  0.112233
2450    2016-05-12      A  0.000000
2544    2016-05-15      A  0.091067
2642    2016-05-17      A  0.182133
...            ...    ...       ...
86575   2019-11-25      A  0.008600
87614   2019-12-09      A -0.144333
88796   2019-12-24      A -0.182050
91846   2020-01-28      A -0.190650
93317   2020-02-18      A -0.190650

[124 rows x 3 columns]

In [421]:
df_techsent.shape

(94963, 3)

In [517]:
df_techsent.to_csv('data/mean_news_sentiment.csv', index=False)

In [422]:
df = pd.merge(df_techsent, df_techind, how='right', left_on = ['ticker','release_date'], right_on = ['Ticker', 'Earning Date'])

In [423]:
df.head()

,release_date,ticker,cs_last5,Ticker,Earning Date,RSI,MFI,adjclose_SMA_12,adjclose_SMA_30,adjclose_EWMA_12,adjclose_EWMA_30,adjclose_UpperBand,adjclose_LowerBand,SMA_12_SMA_30,EWMA_12_EWMA_30,UpperBand_LowerBand
0,2016-08-17,A,0.445067,A,2016-08-17,64.694038,55.146053,1.015659,1.029119,0.965805,0.981712,0.990293,1.071114,1.013253,1.016469,1.081614
1,2016-11-15,A,-0.085933,A,2016-11-15,50.848450,49.160386,1.009450,1.002813,0.957853,0.957749,0.946279,1.066530,0.993425,0.999892,1.127077
2,2017-02-14,A,0.225033,A,2017-02-14,65.809029,63.517597,1.016679,1.037272,0.972830,0.993873,0.991504,1.087470,1.020256,1.021630,1.096788
3,2017-05-22,A,0.091067,A,2017-05-22,57.895288,66.358370,0.995724,1.018778,0.961621,0.976073,0.965030,1.078866,1.023153,1.015029,1.117962
4,2017-08-15,A,0.237633,A,2017-08-15,45.332843,46.147494,0.992396,0.985299,0.957375,0.954990,0.959937,1.012037,0.992848,0.997510,1.054274

In [428]:
df.shape

(4047, 16)

In [427]:
df.dropna(inplace=True)

In [429]:
df.head()

,release_date,ticker,cs_last5,Ticker,Earning Date,RSI,MFI,adjclose_SMA_12,adjclose_SMA_30,adjclose_EWMA_12,adjclose_EWMA_30,adjclose_UpperBand,adjclose_LowerBand,SMA_12_SMA_30,EWMA_12_EWMA_30,UpperBand_LowerBand
0,2016-08-17,A,0.445067,A,2016-08-17,64.694038,55.146053,1.015659,1.029119,0.965805,0.981712,0.990293,1.071114,1.013253,1.016469,1.081614
1,2016-11-15,A,-0.085933,A,2016-11-15,50.848450,49.160386,1.009450,1.002813,0.957853,0.957749,0.946279,1.066530,0.993425,0.999892,1.127077
2,2017-02-14,A,0.225033,A,2017-02-14,65.809029,63.517597,1.016679,1.037272,0.972830,0.993873,0.991504,1.087470,1.020256,1.021630,1.096788
3,2017-05-22,A,0.091067,A,2017-05-22,57.895288,66.358370,0.995724,1.018778,0.961621,0.976073,0.965030,1.078866,1.023153,1.015029,1.117962
4,2017-08-15,A,0.237633,A,2017-08-15,45.332843,46.147494,0.992396,0.985299,0.957375,0.954990,0.959937,1.012037,0.992848,0.997510,1.054274

In [431]:
headers = list(df.columns.values)
headers

['release_date',
 'ticker',
 'cs_last5',
 'Ticker',
 'Earning Date',
 'RSI',
 'MFI',
 'adjclose_SMA_12',
 'adjclose_SMA_30',
 'adjclose_EWMA_12',
 'adjclose_EWMA_30',
 'adjclose_UpperBand',
 'adjclose_LowerBand',
 'SMA_12_SMA_30',
 'EWMA_12_EWMA_30',
 'UpperBand_LowerBand']

In [435]:
headers = ['Ticker',
           'Earning Date',
           'RSI',
           'MFI',
           'adjclose_SMA_12',
           'adjclose_SMA_30',
           'adjclose_EWMA_12',
           'adjclose_EWMA_30',
           'adjclose_UpperBand',
           'adjclose_LowerBand',
           'SMA_12_SMA_30',
           'EWMA_12_EWMA_30',
           'UpperBand_LowerBand',
           'cs_last5']

In [436]:
df = df[headers]

In [437]:
df.head()

,Ticker,Earning Date,RSI,MFI,adjclose_SMA_12,adjclose_SMA_30,adjclose_EWMA_12,adjclose_EWMA_30,adjclose_UpperBand,adjclose_LowerBand,SMA_12_SMA_30,EWMA_12_EWMA_30,UpperBand_LowerBand,cs_last5
0,A,2016-08-17,64.694038,55.146053,1.015659,1.029119,0.965805,0.981712,0.990293,1.071114,1.013253,1.016469,1.081614,0.445067
1,A,2016-11-15,50.848450,49.160386,1.009450,1.002813,0.957853,0.957749,0.946279,1.066530,0.993425,0.999892,1.127077,-0.085933
2,A,2017-02-14,65.809029,63.517597,1.016679,1.037272,0.972830,0.993873,0.991504,1.087470,1.020256,1.021630,1.096788,0.225033
3,A,2017-05-22,57.895288,66.358370,0.995724,1.018778,0.961621,0.976073,0.965030,1.078866,1.023153,1.015029,1.117962,0.091067
4,A,2017-08-15,45.332843,46.147494,0.992396,0.985299,0.957375,0.954990,0.959937,1.012037,0.992848,0.997510,1.054274,0.237633

In [438]:
df.to_csv('data/techinds_w_sem.csv', index=False)

In [439]:
target_path = Path('data/target.csv')
df_target = pd.read_csv(target_path)

In [444]:
df_target['Earning Date'] = pd.to_datetime(df_techind['Earning Date'], format='%Y-%m-%d')

In [472]:
df_model_1 = pd.merge(df_target[['Ticker', 'Earning Date', 'T0', 'T0_5']],
                      df,
                      how = 'right',
                      left_on = ['Ticker', 'Earning Date'],
                      right_on = ['Ticker', 'Earning Date'])

In [473]:
df_model_1.head()

,Ticker,Earning Date,T0,T0_5,RSI,MFI,adjclose_SMA_12,adjclose_SMA_30,adjclose_EWMA_12,adjclose_EWMA_30,adjclose_UpperBand,adjclose_LowerBand,SMA_12_SMA_30,EWMA_12_EWMA_30,UpperBand_LowerBand,cs_last5
0,A,2016-08-17,46.201164,-0.035722,64.694038,55.146053,1.015659,1.029119,0.965805,0.981712,0.990293,1.071114,1.013253,1.016469,1.081614,0.445067
1,A,2016-11-15,43.418201,-0.020705,50.848450,49.160386,1.009450,1.002813,0.957853,0.957749,0.946279,1.066530,0.993425,0.999892,1.127077,-0.085933
2,A,2017-02-14,48.329895,0.018853,65.809029,63.517597,1.016679,1.037272,0.972830,0.993873,0.991504,1.087470,1.020256,1.021630,1.096788,0.225033
3,A,2017-05-22,53.920761,0.076498,57.895288,66.358370,0.995724,1.018778,0.961621,0.976073,0.965030,1.078866,1.023153,1.015029,1.117962,0.091067
4,A,2017-08-15,57.220871,0.060290,45.332843,46.147494,0.992396,0.985299,0.957375,0.954990,0.959937,1.012037,0.992848,0.997510,1.054274,0.237633

In [498]:
missing_T0 = df_model_1.loc[df_model_1.T0.isna()][['Ticker', 'Earning Date']]

In [499]:
nan_list = list(missing_T0.Ticker.unique())

In [508]:
d1 = list(missing_T0.loc[missing_T0.Ticker == 'AAPL']['Earning Date'].values)

In [ ]:
import pandas_datareader.data as web

tickers = nan_list

for ticker in tickers: